/*head*/
.logo{
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
Header{
  background-color: white;
  padding:0;
  width: 100%;
  
}
.head{
  display: inline;
}
h1{
  margin: 0;
  margin-bottom: 30px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 5rem;
}
.social{
  float:right;
}
/*nav menu*/
nav{
  margin-bottom: 3px;
}
nav a{
 padding-left: 5px ;
  text-align: top;
  text-decoration:none;
  color: black;
}
body{
    background-color: white;
    
}
.imgshow{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Image Gallery */
.imggal{
  margin-left: auto;
  margin-right: auto;
}
.holder2{
  display: flex;
    padding-top: 15px;
}
.holder{
    display: flex;
    padding-top: 15px;
}
h2{
    color: white;
    text-align: center;
    background-color: black;
    font-size: 4rem;
    padding:5px;
}
footer{
  display: flex;
    padding: 10px;
  }
  .foot{
    display: flex;
   margin-left:auto;
    margin-right:auto;
  }
  .soc{
     margin-left:65px; 
  }

/*contact home page*/
h3{
  font-size: 3rem;
 
}
.contact{
  background-color:black;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align:center;
  color:white;
  padding: 20px;
  
}
.cont{
  background: white;
  text-decoration: none;
  padding :5px;
  
  
}
/*logo work home page*/
.logoart{
  display:flex;
  width :70%;
  margin:55px auto;
}
.con{
  text-align:center;
   margin:auto;
}
.lart{
  border: double;
  margin-left: 15px;
  padding:5px;
}
/*contact page*/
.name{
  display: inline;
  margin-left:auto;
  margin-right:auto;
}
.continfo input{
  display:block;
}
.text{
  width:100%;
}
.holder{
  background-color:black;
  color:white;
  padding:25px;
}
input{
  margin-bottom:15px;
}
.btn{
  margin-top:15px;
}
.email{
  width:30%;
  margin-left:10%;
  margin-right:20%;
}